/* Layout geral */
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html, body, main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Contêiner principal do app */
.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Conteúdo principal */
main {
  flex: 1;
  padding: 2rem;
  margin: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  margin-top: 20px; /* Garantir espaçamento entre o conteúdo e rodapé */
  position: relative;
  bottom: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  main {
    padding: 1rem;  /* Menos espaçamento para telas pequenas */
    margin: 10px;   /* Menos margem */
  }

  header {
    font-size: 1.3rem; /* Ajuste do tamanho da fonte no cabeçalho */
  }

  footer {
    font-size: 0.9rem; /* Tamanho de fonte do rodapé para telas pequenas */
  }
}

/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
  main {
    padding: 0.8rem;  /* Reduzir ainda mais o padding */
  }

  header, footer {
    font-size: 1rem; /* Ajuste final para cabeçalho e rodapé */
  }
}