form {
    max-width: 400px;
    min-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}


.field {
	display: flex;
	flex-direction: column;
    margin-bottom: 15px;
}

input{
	padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: auto;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


button:hover {
    background-color: #0056b3;
    transform: scale(1.4);
}

